*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.log
*.bak
.rakeTasks
atlassian-ide-plugin.xml
tmp.*
#Generated source
.idea
**/*.iml
target/
src/main/**/logback.xml

# Eclipse tmp files
.classpath
.project
.buildpath
.settings/
bin/

# IntelliJ IDEA tmp files
.idea/**
*.iml

# Netbeans tmp files
nbproject/private/
nb-configuration.xml